node_modules
bower_components
dist
build
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
miniprogram_npm
miniprogram_npm-debug
miniprogram_npm-debug.log
miniprogram_npm.log
.vscode
*.log
*.swp
*.swo